.geocoder-form {
 background-color: white;
 display: flex;
 align-items: center;
 width: 1000px;
 padding: 100px;
 border-radius: 7px;
 margin: 350px auto;
}

ul {
  text-align: left;
  font-size: 12px;
  margin: 0px auto;
  display: inline-block;
  list-style: none;
}
